{% extends 'base.twig' %}
{% form_theme formResetPwd 'bootstrap_4_layout.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<h1>Reinitialisation de votre Mot de passe</h1>
	{{ form_start(formResetPwd) }}
		{{ form_row(formResetPwd.password, {
	        'attr': {'placeholder': "6 carateres minimums"},
	        'label': "Nouveau Mot de passe :",
	        'type': "password"}) }}
		{{ form_row(formResetPwd.confirmPassword, {
	        'attr': {'placeholder': "Saisissez à nouveau votre Mot de passe"},
	        'label': "Confirmation du Nouveau Mot de passe",
	        'type': "password"}) }}
		<button type="submit" class="btn btn-success">Enregistrer</button>
	{{ form_end(formResetPwd) }}
{% endblock %}
