.textOnImg {	
	position: absolute;
	top: 15%;
	left: 33%;
	color: white;
}
.homeImgCard {
	position: relative;
}
.homeInfosBadges {	
	position: absolute;
	bottom: 1em;
	right: 1em;
}
.homeInfosTxtMuted {
	line-height: 0.3em;
}