{% extends 'base.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="row">
    <div class="col text-center">
        <h1>Contactez un Administrateur</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h4>formulaire de contact</h4>
<form action="" method="post">
	<div class="form-group">
		<label for="email">Envoyé à :</label>
		<input type="email" name="email" id="email" placeholder="mon.email@gmail.com" class="form-control">
	</div>
	<button type="submit" class="btn btn-success">Envoyer</button>
</form>
    </div>
</div>

{% endblock %}

{% block javascripts %}{% endblock %}

