<section>
  <p>Vous Devez etre connecté pour accéder a cette page !!</p>
  <a href="{{ path('security_login') }}" class="btn btn-info">Je souhaite me connecter</a>
  <h4>Pas Encore Inscit ?</h4>
  <a href="{{ path('security_registration') }}" class="btn btn-info">Je souhaite m'inscrire</a>
</section>
