<div class="row">
    <div class="col text-center">
        <h6>{{ trick.trickImages | length }} Photos</h6>
    </div>
</div>
{% if trick.trickImages | length > maxImages %} 
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-block btn-sm btn-secondary btn_action_images_list" data-loadimage="-1" data-dir="prev" id="btnImgPrev"><em class="fas fa-chevron-circle-up"></em></button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-block btn-sm btn-secondary btn_action_images_list" data-loadimage="{{ maxImages }}" data-dir="next" id="btnImgNext"><em class="fas fa-chevron-circle-down"></em></button>
    </div>
</div>
<hr>
{% endif %}
{% for trickImage in trick.trickImages | slice(0, maxImages) %}
<div class="row">
    <div class="col">
        <img src="{{ asset('uploads/trick_images/' ~ trickImage.link) }}" class="img-fluid rounded imgClickable" id="imgClickable_{{ loop.index }}">
    </div>
</div>
{% if loop.index < maxImages %}<hr>{% endif %}
{% endfor %}
