<h3>Message depuis SnowTricks !</h3>
<p>
	{{ name }} vous a envoyé le message suivant,<br>
	{{ message }}
<p>

<p>
	<b>Cordialement via le formulaire de contact.</b>
</p>
<img src="{{ absolute_url(asset('img/snowboard.png')) }}">